name: Publish RHerber.Common.AspNetCore

on:
  push:
    branches:
      - master
    paths:
      - "RHerber.Common.AspNetCore/**"

jobs:
  publish:
    uses: ./.github/workflows/publish
    with:
      project-path: RHerber.Common.AspNetCore
      project-name: RHerber.Common.AspNetCore