name: Publish RHerber.Common

on:
  push:
    branches:
      - master
    paths:
      - "RHerber.Common/**"

jobs:
  publish:
    uses: ./.github/workflows/publish.yml
    with:
      project-path: RHerber.Common
      project-name: RHerber.Common
    secrets: inherit
      # package-github-username: ${{ secrets.PACKAGE_GITHUB_USERNAME }}
      # package-pat: ${{ secrets.PACKAGE_PAT }}