name: Publish RHerber.Common.EntityFrameworkCore

on:
  push:
    branches:
      - master
    # paths:
    #   - "RHerber.Common.EntityFrameworkCore/**"

jobs:
  publish:
    uses: ./.github/workflows/publish.yml
    with:
      project-path: RHerber.Common.EntityFrameworkCore
      project-name: RHerber.Common.EntityFrameworkCore