name: Publish RHerber.Common.AspNetCore

on:
  push:
    branches:
      - master
    paths:
      - "RHerber.Common.AspNetCore/**"

jobs:
  publish:
    uses: ./.github/workflows/publish.yml
    with:
      project-path: RHerber.Common.AspNetCore
      project-name: RHerber.Common.AspNetCore
      package-github-username: ${{ secrets.PACKAGE_GITHUB_USERNAME }}
      package-pat: ${{ secrets.PACKAGE_PAT }}